{{- if .Site.Data.menu.more.more -}}
  <nav class="gdoc-footer__more" aria-label="{{ i18n "nav_more" }}">
    <ul class="gdoc-footer__more-list">
      {{ range sort (default (seq 0) .Site.Data.menu.more.more) "weight" }}
        {{ $name := .name }}
        {{ if reflect.IsMap .name }}
          {{ $name = (index .name $.Site.Language.Lang) }}
        {{ end }}
        {{ $ref := default false .ref }}
        {{ if $ref }}
          <li>
            <a
              class="gdoc-footer__more-link"
              href="{{ if .external -}}
                {{ .ref }}
              {{- else -}}
                {{ ($.Site.GetPage .ref).RelPermalink }}
              {{- end }}"
              {{ if .rel -}}
                rel="{{ .rel }}"
              {{- end }}
            >
              {{ $icon := default false .icon }}
              {{ if $icon }}
                <svg class="gdoc-icon gdoc-footer__more-icon {{ .icon }}">
                  <use xlink:href="#{{ .icon }}"></use>
                </svg>
              {{ end }}
              <span class="gdoc-footer__more-text">{{ $name }}</span>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
{{- end -}}

