{{- /*
  Partial: taxonomy-links
  Displays navigation links to taxonomy index pages
  Usage: {{ partial "taxonomy-links.html" . }}
*/ -}}
{{- if or .Site.Taxonomies.tags .Site.Taxonomies.categories .Site.Taxonomies.features -}}
<div class="taxonomy-links-container">
  <p>{{ i18n "taxonomy_links_browse_by_topic" }}</p>
  <div class="taxonomy-links">
    {{- if .Site.Taxonomies.tags -}}
    <a href="{{ "tags/" | relLangURL }}" class="taxonomy-link taxonomy-link-tags">
      {{ i18n "taxonomy_links_all_tags" }}
    </a>
    {{- end -}}
    {{- if .Site.Taxonomies.categories -}}
    <a href="{{ "categories/" | relLangURL }}" class="taxonomy-link taxonomy-link-categories">
      {{ i18n "taxonomy_links_all_categories" }}
    </a>
    {{- end -}}
    {{- if .Site.Taxonomies.features -}}
    <a href="{{ "features/" | relLangURL }}" class="taxonomy-link taxonomy-link-features">
      {{ i18n "taxonomy_links_all_features" }}
    </a>
    {{- end -}}
  </div>
</div>
{{- end -}}

